@import  '~rsuite/lib/styles/themes/default/index.less'; //The default style file.

@base-color: #3DB389; ;

//Ant Design default styles
@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry


// -------- Colors ----------- //

@link-color: #003d26; // link color

// Table
@table-bg: @component-background;
// @table-header-bg: @background-color-light;
@table-header-bg: #001529c4;
@table-header-color: #fff;
@table-border-radius-base: 5px;

// Card
@card-head-color: #fff;
@card-head-background: #001529c4;

// Buttons
@btn-default-color: #fff;
@btn-default-bg: #1DA57A;

// Pagination
// ---
@pagination-item-bg: @component-background;
@pagination-item-size: @height-base;
@pagination-item-size-sm: 24px;
@pagination-font-family: @font-family;
@pagination-font-weight-active: 500;
@pagination-item-bg-active: #ffffff00;
@pagination-item-link-bg: #ffffff00;
@pagination-item-disabled-color-active: @white;
@pagination-item-disabled-bg-active: #ffffff00;
@pagination-item-input-bg: #ffffff00;
@pagination-mini-options-size-changer-top: 0px;

.ant-pagination-item{
  border:0px;
}

.ant-empty-image{
  display: none;
}

//Initial global styles

html,
body,
#root {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #EDF0F5;
}
